.app {
  position: relative;
  width: 100vw;
  height: 100vh;

  background-color: #3570FB;
  background-image: url('/images/sky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  filter: saturate(40%);
  overflow: hidden;
}
